{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <title>{% block title %} Django Blog {% endblock %}</title>
  </head>
  <body class="bg-white text-black dark:bg-gray-900 dark:text-white">
    <nav class="bg-white border-b border-gray-200 dark:bg-gray-900">
      <div
        class="max-w-screen-xl flex items-center justify-between mx-auto p-4"
      >
        <a href="{% url 'allBlogs' %}" class="flex items-center">
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >D-blogs</span
          >
        </a>
        <div id="navbar-default">
          <ul class="flex font-medium items-center space-x-8">
            <li>
              <a
                href="{% url 'allBlogs' %}"
                class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 hover:text-blue-700 dark:text-white dark:hover:text-blue-500"
              >
                Home
              </a>
            </li>
            {% if user.is_authenticated %}
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button
                  type="submit"
                  class="block py-2 px-3 bg-red-600 text-white rounded hover:bg-red-800 hover:text-white dark:text-white dark:hover:text-white"
                >
                  Logout
                </button>
              </form>
            {% else %}
            <li>
              <a
                href="{% url 'login' %}"
                class="block py-2 px-5 bg-blue-600 text-white rounded hover:bg-blue-800  dark:text-white"
              >
                Login
              </a>
            </li>
            <li>
              <a
                href="{% url 'registerUser' %}"
                class="block py-2 px-3 bg-blue-600 text-white rounded hover:bg-blue-800  dark:text-white"
              >
                Register
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container p-10">
      {% block content %}
      <div class="container mx-auto">
        <section class="flex items-center justify-center h-screen">
          <h1 class="text-5xl">Welcome to the Django Blog App ❤️</h1>
        </section>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
